.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.link {
  text-decoration: none;
}

.title {
  filter: drop-shadow(4px 4px 0 black);
  font-size: 3rem;
  margin: 1rem 0;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
